<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-3.5.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow fixed-top">
            <div class="container d-flex justify-content-between col-lg-10 col-xl-8 mx-auto">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Шифр Виженера</strong>
                </a>
            </div>
        </div>
    </header>

    <main role="main" class="col-lg-10 col-xl-8 mx-auto">
        @RenderBody()
    </main>

    <footer>
        <p>&copy; @DateTime.Now.Year - FirstLineSoftware | ASP.NET | MVC | ITMO | <a href="mailto:solovyov-den@list.ru">Denis Solovyov</a></p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
